*{
     margin: 0px;
     padding: 0px;
     box-sizing: 0px;
}
html 
{
  font-size:0.9em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
}

#showcase
{
  background-image: url(../img/apricot-fruits-on-bowl-1028599.jpg);
  height:100vh;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  text-align: center;
  padding: 0 30px;
  
}
h1
{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:30px;
  font-weight:400px;
  

}

#showcase p
{
  font-size:20px;
  font-weight:400px;
  padding-bottom:20px;
  font-weight:larger;
}


#logo 
{
  background-color: rgb(209, 95, 19);
  
  border-radius:5px;
  
  padding:0.001em;
  border:none;
  
  color: rgb(255, 255, 255,0.8);
       
}


.button 
{
  
   border:solid 2px;
  text-decoration: none;
  font-size:20px;
  color:black;
  padding:10px;
  
}
.button:hover
{
  border-color: rgb(209, 95, 19);
}



